.header {
  justify-content: space-between;
  height: 74px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.header__menu--category {
  margin: 0 7px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
}

.header__menu--category::after {
  content: "";
  border-bottom: 4px solid #0d0c0c;
  width: 100%;
  position: absolute;
  bottom: -16px;
  right: 0;
  display: none;
}

.header__menu--category:hover::after {
  display: flex;
  transition-duration: 350ms;
}

.header__menu--logo {
  cursor: pointer;
  margin-right: 5px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 100%;
  max-width: 50%;
  height: 36px;
}

.header__nav--search-wrapper {
  width: 126px;
  height: 22px;
  position: relative;
  margin-right: 10px;
}

.header__nav--search-wrapper::after {
  content: "";
  border-bottom: 1px solid #aaaaaa;
  position: absolute;
  width: 100%;
  bottom: -5px;
  right: 0;
}

.header__nav--search-bar {
  outline: 0;
  border-width: 0;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #b0b0b0;
  max-width: 108px;
  padding: 0;
}

.header__nav--search-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 5px;
  top: 0;
  background-color: transparent;
}

.header__nav--right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav--icon {
  margin: 0 10px;
  cursor: pointer;
}

.language-icon {
  margin-right: 10px;
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 145px;
  background-color: #f5f5f5;
  border-radius: 4px;
  position: relative;
}

.language-text {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #0d0c0c;
  margin-right: 10px;
}

.language::after {
  content: "";
  background-image: url("../assets/arrow-right.png");
  width: 12px;
  height: 12px;
  right: 6px;
  position: absolute;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header.mobile {
    flex-direction: column;
    margin-top: 15px;
    height: 84px;
  }

  .header__menu--logo {
    width: 50px;
  }

  .mobile-search-wrapper {
    position: relative;
    width: 100%;
  }

  .mobile-search-bar {
    width: 100%;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #b0b0b0;
  }

  .mobile-search-button {
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
  }

  .open-menu {
    padding-left: 8px;
  }

  .shopping-bag {
    width: 30px;
  }

  .mobile-menu.hidden {
    display: none;
  }

  .close {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
  }

  .mobile-menu-close {
    position: absolute;
    right: 10px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
  }

  .mobile-menu-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 1px solid #828282;
  }

  .mobile-menu-logo {
    width: 50px;
    margin-bottom: 15px;
  }

  .mobile-menu-wrapper {
    padding: 15px 0 15px 25px;
    border-bottom: 1px solid #828282;
  }

  .mobile-menu-item {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    margin: 10px 0;
  }

  .mobile-menu-item img {
    margin-right: 5px;
    width: 20px;
  }

  .mobile-menu-category {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    text-transform: uppercase;
    padding: 15px 0 15px 25px;
  }
}
