html,
body {
  margin: 0px;
  height: 100%;
  overflow: auto;    
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .desktop {
    display: flex !important;
  }

  .mobile {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }

  body {
    overflow-x: hidden;
  }
}